@import "tailwindcss";

@theme {
  --color-primary: #463f3aff;
  --color-secondary: #bcb8b1ff;
  --color-tertiary: #8a817cff;

  --color-background: #f4f3eeff;
}

@utility code {
  @apply p-1 rounded-md bg-secondary/20 font-mono text-xs;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}